#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;

}
.pet{
    background-color: #dedede;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
}
.table td{
    text-align: center;
}

h1 {
    text-align: center;
}